<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Examples Page Template</title>
</head>
<body>
	<div id="examples" xmlns:th="http://www.thymeleaf.org"
		th:fragment="examples">
		<ul class="nav flex-column">
			<li class="nav-item"><a class="nav-link active" href="#">ThymeLeaf</a>
				<ul class="nav flex-column">
					<li class="nav-item"><a class="nav-link" href="#">Expression Language</a>
					<li class="nav-item"><a class="nav-link" href="#">Fragments</a>
					<li class="nav-item"><a class="nav-link" href="#">Spring</a>
					</li>
				</ul>
			</li>
			<li class="nav-item"><a class="nav-link" href="#">BootStrap</a>
			</li>
		</ul>
		<div class="page-body">
			<h1>Some examples here.</h1>
		</div>
	</div>
</body>
</html>